$pure-white: #fff;
$hero-shadow: rgba(0, 0, 0, .6);
$lighter-color: #eb9a31;
$darkest-color: #f1d49d;
$lightiest-color: #f3f0e6;
$textOnWhite-color: #7A7A7A;
$darker-color: #7e592f;

$navBg-color: linear-gradient(90deg, rgba(237, 192, 104, 1) 0%, rgba(41, 53, 86, 1) 100%);