.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.section-heading {
    position: relative;
    margin-bottom: 2em;
    left: 10vw;
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #7e592f;
    letter-spacing: 2px;
}

.section-padding {
    padding: 6em 2em;
}

@media(min-with: 768px) {
    .section-heading {
        font-size: 3.6rem;
    }

    .section-padding {
        padding: 8em 2em;
    }
}

@media(min-with: 992px) {
    .section-heading {
        font-size: 4.8rem;
    }

    .section-padding {
        padding: 10em 2em;
    }
}