@mixin burgerBtn {
    position: absolute;
    right: 0;
    height: 3px;
    content: '';
    background-color: #fff;
    transition: width .3s;
}

@mixin heroImages {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}